* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.view {
	display: none;
}

.circButton {
	position: absolute;
	border-radius: 50%;
	border: none;
	width: 20%;
	height: 20%;
	text-align: center;
	padding: 10px;
}

.viewRemote .circButton {
	background-color: blue;
}

#btn1 img#play {
    height: 75%;
    width: 75%;
    position: absolute;
    top: 10px;
    left:13px;
    display: block;
}

#btn1 img#pause {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2px;
    left:2px;
    display: none;
}

#serverList.edit .ui-snap-listview-item {
	border: 4px dotted rgba(77,207,255,1);
}

#serverList.edit .ui-snap-listview-item.selected {
	background-color: rgba(158, 229, 255,1);
}

#serverList.delete .ui-snap-listview-item.selected {
	background-color: rgba(255, 107, 107,1);
}

#serverList.delete .ui-snap-listview-item {
	border: 4px dotted red;
}

.viewServerList .circButton {
	background-color: rgba(77,207,255,1);
}

.viewServerList #btnEdit {
	background-color: rgba(77,207,255,1);
}

.viewServerList #btnAdd,
.viewServerList #btnAddAbort {
	background-color: green;
}
.viewServerList #btnDelete {
	background-color: red;
}

#ScanInProgress {
	color: rgb(180, 180, 180);
	font-size: 25px;
	background-color: rgb(40,40,40);
}

img#forward {
    position:absolute;
    top: 3px;
    left: 6px;
}

img#rewind {
    position:absolute;
    top: 3px;
    left: 2px;
}

img#list_add {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10%;
    top: 0px;
    left:0px;
}

img#list_delete {
    height: 100%;
    width: 100%;	
    position:absolute;
    padding: 10%;
    top: 0px;
    left: 0px;
}
img#list_edit_down, img#list_edit_up {
    height: 100%;
    width: 100%;	
    position:absolute;
    padding: 10%;
    top: 0px;
    left: 0px;
}
img#list_delete {
    height: 100%;
    width: 100%;	
    position:absolute;
    padding: 10%;
    top: 0px;
    left: 0px;
}

img#list_edit, img#list_edit_edit {
    height: 100%;
    width: 100%;
    position:absolute;
    top:0px;
    left:0px;
    padding: 15%;
}

#edtMenuBtns {
	display: block;
}

#topMenuBtns {
	display: none;
}

#serverIP {
    font-size:smaller;
    margin-top: -5px;
}

#serverCaptionEdit {
	display: none;		
}

#serverCaptionDelete {
	display: none;
	color: red;
}

#playProgress {
	background-color: red;
	position: absolute;
	top: 70%;
	height: 5px;
	left: 15%;
	right: 15%;
}

#playProgressBG {
	background-color: white;
	position: absolute;
	top: 70%;
	height: 1px;
	left: 15%;
	right: 15%;
	margin-top: 2px;
}

#seek {
	position: absolute;
	bottom: 31%;
	left: 12%;
	font-size: smaller;
}

#length {
	position: absolute;
	bottom: 31%;
	right: 12%;
	font-size: smaller;
}

#volBG {
	position: absolute;
	background-color: black;
	bottom: 0px;
	top: 0px;
	left: 90%;
	right: 0px;
}

#volLow {
	position: absolute;
	background-color: green;
	bottom: 15%;
	top: 50%;
	left: 90%;
	right: 0px;
}

#vol125 {
	position: absolute;
	background-color: white;
	bottom: 60%;
	height: 2px;
	left: 90%;
	right: 0px;
}

#vol125Label {
	position: absolute;
	color: white;
	font-size: 8pt;
	top: 32%;
	left: 90%;
	right: 0px;
}

#volMid {
	position: absolute;
	background-color: yellow;
	bottom: 50%;
	top: 55%;
	left: 90%;
	right: 0px;
}

#volHigh {
	position: absolute;
	background-color: red;
	bottom: 55%;
	top: 15%;
	left: 90%;
	right: 0px;
}

.scrollLeft {
    white-space: nowrap;
}

#whatson{
	margin-left: 10%;
	margin-right: 15%;
}

#inputName, #inputIP, #inputPort, #inputPassword {
	margin-left: 10%;
	margin-right: 10%;	
	width: 80%;
}

#spinnerText {
	text-align: center;
	position: relative;
	left: 0%;
	width: 100%;
	bottom:0%;
}

.small-processing-container {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	padding: 0;
}

.advancedHidden {
	overflow: hidden;
	max-height: 0px;
}

.advancedShown {
	max-height: 6em;
}

#portDesc {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 0.7em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

#advancedTrigger {
	display: none;
}

#advancedTrigger ~ #advanced {
	max-height: 0em;
	transition: max-height 0.5s ease-in-out;
	-webkit-transition: max-height 0.5s ease-in-out;
	overflow: hidden;
}

#advancedTrigger:checked ~ #advanced {
	max-height: 6em;
}

#serverListHeader {
	margin-bottom: -1em;
}

#advancedTrigger ~ #advancedCaption {
	transition: max-height 0.5s ease-in-out;
	-webkit-transition: max-height 0.5s ease-in-out;
	color: rgba(77,207,255,1);
	max-height: 2em;
	overflow:hidden;
    margin-top: 1em;
}

#advancedTrigger:checked ~ #advancedCaption {
	max-height: 0em;
}

#advancedTrigger ~ .arrow {
	border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

#advancedTrigger:checked ~ .arrow {
	transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.longpress {
	background-color: #98AFC7;
	transition: background-color 2s;
}