* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.mybutton {
	position: absolute;
	border-radius: 50%;
	border: none;
	background-color: blue;
	width: 20%;
	height: 20%;
	text-align: center;
	padding: 10px;
}

.view {
	display: none;
}

#btn1 img#play {
    height: 75%;
    width: 75%;
    position: absolute;
    top: 10px;
    left:13px;
    display: block;
}

#btn1 img#pause {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 2px;
    left:2px;
    display: none;
}

img#forward {
    position:absolute;
    top: 3px;
    left: 6px;
}

img#rewind {
    position:absolute;
    top: 3px;
    left: 2px;
}

#serverIP {
    font-size:smaller;
    margin-top: -5px;
}

#playProgress {
	background-color: red;
	position: absolute;
	top: 70%;
	height: 5px;
	left: 15%;
	right: 15%;
}

#playProgressBG {
	background-color: white;
	position: absolute;
	top: 70%;
	height: 1px;
	left: 15%;
	right: 15%;
	margin-top: 2px;
}

#seek {
	position: absolute;
	bottom: 31%;
	left: 12%;
	font-size: smaller;
}

#length {
	position: absolute;
	bottom: 31%;
	right: 12%;
	font-size: smaller;
}

#volBG {
	position: absolute;
	background-color: black;
	bottom: 0px;
	top: 0px;
	left: 90%;
	right: 0px;
}

#volLow {
	position: absolute;
	background-color: green;
	bottom: 15%;
	top: 45%;
	left: 90%;
	right: 0px;
}

#volMid {
	position: absolute;
	background-color: yellow;
	bottom: 55%;
	top: 30%;
	left: 90%;
	right: 0px;
}

#volHigh {
	position: absolute;
	background-color: red;
	bottom: 70%;
	top: 15%;
	left: 90%;
	right: 0px;
}

.scrollLeft {
    white-space: nowrap;
}

#whatson{
	margin-left: 10%;
	margin-right: 15%;
}

#inputName, #inputIP, #inputPort, #inputPassword {
	margin-left: 10%;
	margin-right: 10%;	
	width: 80%;
}


.small-processing-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
}